<%- include('./include/head'); %>

<%- include('./include/nav'); %>

<%- include('./include/body/about/karim'); %>

<%- include('./include/form', {"id": "footer"}); %>
<%- include('./include/footer'); %>

<!-- <script src="/scripts/....js"></script> -->
<script src="/scripts/form.js"></script>
<script src="/scripts/nav.js"></script>
</body>
</html>