<%- include('./include/head/index'); %>


<%- include('./include/body/index/nat-home'); %>

<%- include('./include/nav', {"name": "index"}); %>

<%- include('./include/body/index/mat-diapo-bands')%>

<%- include('./include/form', {"id": 1}); %>

<%- include('./include/body/index/ima-k')%>

<%- include('./include/form', {"id": 2}); %>

<%- include('./include/footer'); %>

<script src="/scripts/index.js"></script>
</body>
</html>