<%- include('./include/head'); %>

<%- include('./include/pages/index/mat-home'); %>

<%- include('./include/nav'); %>

<%- include('./include/pages/index/mat-diapo')%>

<%- include('./include/form', {"id": "diapo"}); %>

<%- include('./include/pages/index/mat-bands')%>

<%- include('./include/pages/index/mat-k')%>

<%- include('./include/pages/index/mat-prerequiste')%>

<%- include('./include/pages/index/mat-image-paralax-one')%>

<%- include('./include/pages/index/mat-benefices')%>

<%- include('./include/form', {"id": "footer"}); %>

<%- include('./include/footer'); %>

<script type="module" src="/scripts/index.js"></script>
</body>
</html>