<nav id="navbar-top">
  <div id="logoKmoove">
    <!-- <iframe src="files/images/logoKmoove.svg"></iframe> -->
    <img src="files/images/logoKmoove.png" />
  </div>
  <div id="toggleBurger">
    <div></div>
    <div></div>
    <div></div>
  </div>
  <ul id="navbarLinks">
    <!-- link FR -->
    <% if (data.head.lang =="fr") { %>

    <!-- INDEX -->
    <% if (data.page.name =="index") { %>
    <li><a href="/" class="selected navbarLink">acceuil</a></li>
    <%} 
    else { %>
    <li><a href="/" class="navbarLink">acceuil</a></li>
    <% } %> 

    

    <!-- link EN -->
    <% } else if(data.head.lang =="en") { %> 

    <!-- INDEX -->
    <% if (data.page.name =="index") { %>
    <li><a href="/" class="selected navbarLink">home</a></li>
    <%} 
    else { %>
    <li><a href="/" class="navbarLink">home</a></li>
    <% } %> 

    <% } %>     
    
    <li><a href="/our-games" class="navbarLink">nos jeux</a></li>
    <li><a href="/galerie" class="navbarLink">galerie</a></li>
    <li><a href="/blog" class="navbarLink">blog</a></li>
    <li><a href="/about" class="navbarLink">à propos</a></li>

    
    <li id="accountMob"><a href="/account" class="navbarLink">mon compte</a></li>
    
    <li id="settingsMobile">
      <div id="langagesMob">
        <% if (data.page.name == "index") { %>
        <a href="/<%= data.head.lang %>">
        <% } else { %> 
        <a href="/<%= data.head.lang %>/<%= data.page.name %>">
        <% } %>
          <div class="lang">
            <figure>
              <img src="/files/images/flag-<%= data.head.lang %>.jpg" alt="" />
            </figure>
            <div class="selectedLang">
              <i class="fa-solid fa-angle-down"></i>
            </div>
          </div>
        </a>
        <% if (data.head.lang == "fr") { %>
          <% if (data.page.name == "index") { %>
          <a href="/en">
          <%} else { %> 
          <a href="/en/<%= data.page.name %>">
          <% } %>
            <div class="lang">
              <figure>
                <img src="/files/images/flag-en.jpg" alt="" />
              </figure>
            </div>
          </a>
        <% } else { %>
          <% if (data.page.name == "index") { %>
            <a href="/fr">
          <% } else { %> 
            <a href="/fr/<%= data.page.name %>">
          <% }  %>
            <div class="lang">
              <figure>
                <img src="/files/images/flag-fr.jpg" alt="" />
              </figure>
            </div>
          </a>
        <% } %>
      </div>
    </li>

  </ul>

  <div id="settings">
    <div id="langages">
      <% if (data.page.name == "index") { %>
      <a href="/<%= data.head.lang %>">
      <% } else { %> 
      <a href="/<%= data.head.lang %>/<%= data.page.name %>">
      <% } %>
        <div class="lang">
          <figure>
            <img src="/files/images/flag-<%= data.head.lang %>.jpg" alt="" />
          </figure>
          <div class="selectedLang">
            <i class="fa-solid fa-angle-down"></i>
          </div>
        </div>
      </a>
      <% if (data.head.lang == "fr") { %>
        <% if (data.page.name == "index") { %>
        <a href="/en">
        <%} else { %> 
        <a href="/en/<%= data.page.name %>">
        <% } %>
          <div class="lang">
            <figure>
              <img src="/files/images/flag-en.jpg" alt="" />
            </figure>
          </div>
        </a>
      <% } else { %>
        <% if (data.page.name == "index") { %>
          <a href="/fr">
        <% } else { %> 
          <a href="/fr/<%= data.page.name %>">
        <% }  %>
          <div class="lang">
            <figure>
              <img src="/files/images/flag-fr.jpg" alt="" />
            </figure>
          </div>
        </a>
      <% } %>
    </div>
    <div id="account">
      <a href="/login">
        <i class="fa-solid fa-circle-user"></i>
      </a>
    </div>
  </div>

</nav>

<div id="scrollToTop">
  <p>
    <i class="fa-solid fa-arrow-up"></i>
  </p>
</div>