<section id="mat-diapo">
  <header id="diapo">
    <div id="first" class="layout">
      <div id="firstFilter">
      </div>
      <h2>
        <span class="titleLine"><%= data.body.titleLine1 %></span><br /> 
        <span class="titleLine"><%= data.body.titleLine2 %></span><br />
        <span class="titleLine"><%= data.body.titleLine3 %> <span id="scalExcl">!</span></span>
      </h2>
    </div>
    <div id="second" class="layout">
      <div class="secondFilter">
        <h2>
          <%= data.body.bubble1turnkey1 %><br>
          <%= data.body.bubble1turnkey2 %>
        </h2>
      </div>
      <div class="secondFilter">
        <h2><%= data.body.bubble2 %></h2>
      </div>
      <div class="secondFilter">
        <h2>
          <%= data.body.bubble3game1 %><br>
          <%= data.body.bubble3game2 %></h2>
      </div>
    </div>
    <div id="third" class="layout">
      <div class="thirdFilter">
        <h2><%= data.body.diapoContact1 %></h2>
        <p>
          <%= data.body.diapoContact2 %>
        </p>
      </div>
      <div class="thirdFilter formBtn" id="openFormDiapo">
        <h2><%= data.body.diapoContactBtn %><i class="fa-regular fa-hand-pointer"></i></h2>
      </div>
    </div>
    <div id="diapoController">
      <input type="radio" name="diapo" class="first"/>
      <input type="radio" name="diapo" class="second"/>
      <input type="radio" name="diapo" class="third" />
    </div>
  </header>
</section>
