<section id="mat-bands">
  <div id="trust">
    <h3>
      <%= data.body.trustTitle1 %><br />
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= data.body.trustTitle2 %>
    </h3>
  </div>
  <div id="notices">
    <div id="brands">
      <div class="brand">
        <img src="<%= data.body.trustImg %>" alt="" />
      </div>
      <div class="brand">
        <img src="<%= data.body.trustImg2 %>" alt="" />
      </div>
      <div class="brand">
        <img src="<%= data.body.trustImg3 %>" alt="" />
      </div>
      <div class="brand">
        <img src="<%= data.body.trustImg4 %>" alt="" />
      </div>
      <div class="brand">
        <img src="<%= data.body.trustImg5 %>" alt="" />
      </div>
      <div class="brand">
        <img src="<%= data.body.trustImg6 %>" alt="" />
      </div>
    </div>
    <div id="opinions">
      <div id="opLeft">
        <div>
          <p>
            <%= data.body.opinions11 %>
          </p>
        </div>
        <hr />
        <div>
          <p>
            <%= data.body.opinions12 %>
          </p>
        </div>
        <hr />
        <div>
          <p>
            <%= data.body.opinions13 %>
          </p>
        </div>
        <hr />
        <div>
          <p>
            <%= data.body.opinions14 %>
          </p>
        </div>
        <hr />
        <div>
          <p>
            <%= data.body.opinions15 %>
          </p>
        </div>
        <hr />
        <div>
          <p>
            <%= data.body.opinions16 %>
          </p>
        </div>
      </div>
      <div id="opRight">
        <div>
          <p>
            <%= data.body.opinions21 %>
          </p>
        </div>
        <hr />
        <div>
          <p>
            <%= data.body.opinions22 %>
          </p>
        </div>
        <hr />
        <div>
          <p>
            <%= data.body.opinions23 %>
          </p>
        </div>
        <hr />
        <div>
          <p>
            <%= data.body.opinions24 %>
          </p>
        </div>
        <hr />
        <div>
          <p>
            <%= data.body.opinions25 %>
          </p>
        </div>
        <hr />
        <div>
          <p>
            <%= data.body.opinions26 %>
          </p>
        </div>
  </div>
</section>
